body, html {
  box-sizing: border-box;
}

body {
  background: fixed #333333;
  color: azure;
  justify-content: center;
}

*:focus {
  outline: none;
}

/* =======================NAV BAR======================= */
#nav-bar {
  /*display: flex;*/
  align-content: center;
}

#nav-bar h2{
  float: left;
  color: #FCD036;
  text-shadow: -1px 0 #3296c9,0 1px #3296c9,1px 0 #3296c9, 0 -1px #3296c9;
}

#nav-bar h2:hover {
  box-shadow: 10px 10px 5px black;
}

#nav-bar li {
  color: #FCD036;
  display: inline;
  font-size: 1.5em;
  float: right;
  list-style-type: none;
  margin: 5px;
}

#nav-bar ul {
  float: right;
  margin: 0;
}

#nav-bar li:hover {
  text-decoration: none;
}

#nav-bar a {
  color: #FCD036;
}

#nav-bar a:hover {
  text-decoration: none;
}

#nav-bar button {
  border: none;
  margin: 0;
  background: transparent;

}

/* =======================POSTS, AND THE CONTENT WITHIN THEM======================= */
#posts-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  padding: 5px;
  border-radius: 10px;
  flex-basis: 30%;
  margin: 5px auto;
  justify-content: center;
  text-align: center;
  background-color: #E3AD40;
}

.blog-post:hover {
  border: 1px solid #29ece8;
  background-color: #FCD036;
  box-shadow: 10px 10px 5px black;
}

.blog-post a {
  color: azure;
  text-decoration: none;
}

.post-text-container {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  color: #f0ffff;
}

.post-text-container:hover {
  text-shadow: #000000 10px 10px 5px;
}

.button-container {
  display: inline-flex;
  justify-content: center;
}

.post-button-active {
  background-color: #efffdc;
  color: #606060;
}

.post-button {
  position: relative;
  background-color: #C6D6B8;
  flex-grow: inherit;
  color: #333333;
}

.post-button:hover {
  border-style: inset;
  color: #606060;
  background-color: #ecffdc;
}

.post-button a {
  color: #333333;
}

/* =======================OTHER STUFF (temp name)======================= */
img {
  height: auto;
  max-width: 100%;
}

.container {
  /*display: flex;*/
  justify-content: center;
}

.form-container {
  margin: 5px;
}

form input {
  color: darkslategrey;
  background-color: #C6D6B8;
  border-radius: 5px;
}

form textarea {
  border-style: inset;
  color: darkslategrey;
  background-color: #C6D6B8;
}

form button {
  border-radius: 5px;
  color: darkslategrey;
  background-color: #C6D6B8;
}

.error-msg {
  color: #dc4853;
  text-shadow: black 10px 10px 40px 20px;
}

.error {
  display: inline;
  background-color: #ffa89c;
  color: #dc4853;
  border: 1px solid #dc4853;
  padding: 5px;
  margin: 5px;
}