<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Create Profile')">

</head>
<body>
<nav th:replace="fragments :: my-navbar"></nav>
<h1>Create Your Profile!</h1>

<form th:action="@{/users/create}" th:object="${user}" th:method="post">
  <label for="email"></label>
  <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
  <input th:field="*{email}" id="email" type="text" name="email" placeholder="E-mail Address"/>
  <label for="username"></label>
  <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
  <input th:field="*{username}" id="username" type="text" name="username" placeholder="Username"/>
  <label for="password"></label>
  <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
  <input id="password" type="password" name="password" placeholder="Password"/>
  <label for="password-confirm"></label>
  <input id="password-confirm" type="password" name="password-confirm" placeholder="Confirm Password"/>
  <button>Drink The Kool-Aid!</button>
</form>

<scripts th:replace="fragments :: scripts"></scripts>
</body>
</html>